html {
  margin: 0 auto;
}

.header-fixed {
  margin: -50px 0 0 0;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: #F0F0F0;
  border-bottom: 1px solid #CCC;
  .navicon {
    margin: 0;
    padding: 5px;
    width: 40px;
    display: inline;
    float: left;
  }
  .logo {
    margin: 0;
    padding: 5px 10px;
    width: 50%;
    display: inline;
    float: left;
  }
  .userinfo {
    width: 40%;
    display: inline;
    float: left;
  }
  .sidebar {
    margin: 0;
    padding: 10px 0 0 0;
    width: 40px;
    display: inline;
    float: right;
  }
}

.wrapper  {
  display: table;
  margin-top: 50px;
  width: 100%;
  .column {
    display: table-cell;
    padding: 10px;
    height: 100%;
    vertical-align: top;
    &.column-left {
      padding: 0;
      width: 48px;
      background: #FAFAFA;
      border-right: 1px solid #CCC;
    }
    &.column-center {
      width: 100%;
      margin: 0 0 0 48px;
    }
    &.column-right {
      width: 200px;
      display: none;
      border: 1px solid red;
    }
  }
}

ul.top-level {
  margin: 0;
  padding: 0;
  width: 48px;
  text-align: center;
  li {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #CCC;

    .fa {
      font-size: 24px;
    }
    ul {
      display: none;
    }
  }
}

.row {
  padding-top: 20px;
}

.circle {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  background: yellow;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.todo {
  color: red;
  font-weight: 400;
}

.hint {
  font-style: italic;
  color: orange;
}